
.nav-links {
  font-size: 1.5rem;
}
.gradient {
  font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.gradientColor {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 70px;
}

.contentSpacing {
    padding-top: 100px;
    padding-bottom: 100px;
}
.cardStyle {
  background: #f3f3f3!important;
  border-radius: 12px;
}

span.carousel-control-next-icon {
    background-image: url("https://img.icons8.com/ios-filled/50/000000/circled-right-2.png");
    width: 50px;
    height: 50px;
  }
  
span.carousel-control-prev-icon {
    background-image: url("https://img.icons8.com/ios-filled/50/000000/circled-left-2.png");
    width: 50px;
    height: 50px;
}
.carousel-control-next, .carousel-control-prev {
    width: auto!important;
}
    
.carousel-indicators .active {
    background-color: black!important;
}

.carousel-indicators li {
    background-color: grey!important;
}

.carousel-indicators {
    bottom: -50px!important;
}

a {
    text-decoration: none!important;
}

.aboutColor {
  color: #555555;
}

.w-15 {
  width: 15%;
}
.progressHeight {
  height: 40px;
}
.progressFont {
  font-size: 1.1rem;
}
.projectContainer {
  background: #f3f3f3; 
  padding-bottom: 200px;
}

.contactContainer {
  color: #fff;
}

.contactSvg {
  position: absolute;
  background: #252934;
}
.contactContent {
  background: #252934;
  padding-bottom: 100px;
}
.contactBar {
  animation-delay: 0.5s;
  background: #fff;
}
.contactTitle {
  font-size: 1rem;
  color: #04c2c9;
}
.footerContainer {
  background: #1b242f;
  padding: 30px 0 50px 0;
}

.icon {
  background: #262f38;
    cursor: pointer;
    font-size: 18pt;
    height: 55px;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    width: 55px;
}

footer .footnote {
  color: #8f9aa7;
  font-size: 10pt;
  margin-top: 35px;
  opacity: 0.6;
}

footer .footnote .highlight {
  color: #e31b6d;
  font-family: "Open Sans";
}

.upArrowIcon {
  background: #e31b6d;
  margin-top: -52.5px;
  margin-bottom: 52.5px;
}

body::-webkit-scrollbar {
    width: 1.1em;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    /* border: 5px solid transparent; */
    border-radius: 5px;
    background-color: #007BFF;
    background-clip: content-box;
  }


@media (min-width: 992px) {
    /* .fullView {
        height: 100vh;
    } */
}
