.nav-links {
    font-size: 1.5rem;
}

.gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.gradientColor {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.button {
    color: white;
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
    vertical-align: middle;
}

.button:hover {
    background-color: #04c2c9;
    border-color: #04c2c9;
}


.fas {
    transition: all 0.5s;
}

.button:hover .fas {
    transform: rotate(90deg);
}

.header-bar {
    background: #444649;
    height: 4px;
    margin: 25px 0 75px 0;
    width: 70px;
}

.description {
    line-height: 25px;
}
.contentSpacing {
    padding-top: 100px;
    padding-bottom: 100px;
}

.cardStyle {
    background: #f3f3f3!important;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;
}

.cardStyle:hover {
    background: #e2e2e2!important;
}

.cardStyle2 {
    background: #252934!important;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;
}

.cardStyle2:hover {
    background: #313747!important;
}

span.carousel-control-next-icon {
    background-image: url("https://img.icons8.com/ios-filled/50/000000/circled-right-2.png");
    width: 50px;
    height: 50px;
}

span.carousel-control-prev-icon {
    background-image: url("https://img.icons8.com/ios-filled/50/000000/circled-left-2.png");
    width: 50px;
    height: 50px;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto!important;
}

.carousel-indicators .active {
    background-color: black!important;
}

.carousel-indicators li {
    background-color: grey!important;
}

.carousel-indicators {
    bottom: -50px!important;
}

a {
    text-decoration: none!important;
}

.aboutColor {
    color: #555555;
}

.w-65 {
    width: 65%;
}

.w-60 {
    width: 60%;
}
.w-55 {
    width: 55%;
}
.w-50 {
    width: 50%;
}
.w-35 {
    width: 35%;
}
.w-15 {
    width: 15%;
}



.progressHeight {
    height: 40px;
}

.progressFont {
    font-size: 1.1rem;
}

.projectContainer {
    background: #f3f3f3;
    padding-bottom: 200px;
}

.contactContainer {
    color: #fff;
}

.contactSvg {
    position: absolute;
    background: #252934;
}

.contactContent {
    background: #252934;
    padding-bottom: 100px;
}

.contactBar {
    animation-delay: 0.5s;
    background: #fff;
}

.contactTitle {
    font-size: 1rem;
    color: #04c2c9;
}

.footerContainer {
    background: #1b242f;
    padding: 30px 0 50px 0;
}

.icon {
    background: #262f38;
    cursor: pointer;
    font-size: 18pt;
    height: 55px;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: 0.5s;
    width: 55px;
}

.icon:hover {
    opacity: 0.7;
    background: #04c2c9;
    height: 60px;
    width: 60px;
}

.upArrowIcon {
    background: #e31b6d;
    margin-top: -52.5px;
    margin-bottom: 52.5px;
    transition: 0.5s;
}

.upArrowIcon:hover {
    opacity: 0.7;
    background: #e31b6d;
}

.videoPlayer {
    height: 500px;
}

.dynamicWidth25 {
    width: 40%;
}
.personalInterests {
    margin-top: 200px;
}

@media (min-width: 0px) and (max-width: 768px) { 
    .videoPlayer {
        height: 250px;
    }
    .dynamicWidth25 {
        width: 80%;
    }
}